// _fonts.scss

@font-face {
    font-family: firasansultralight;
    src:url(fonts/FiraSans-UltraLight.otf);
}

@font-face {
    font-family: firasansbook;
    src:url(fonts/FiraSans-Book.otf);
}

@font-face {
    font-family: firasanslight;
    src:url(fonts/FiraSans-Light.otf);
}

@font-face {
    font-family: godblessamerica;
    src:url(fonts/God%20Bless%20America.ttf);
}

@font-face {
    font-family: brandonlight;
    src:url(fonts/Brandon_light.otf);
}

@font-face {
    font-family: bernierregular;
    src:url(fonts/BERNIERRegular-Regular.otf);
}